<h1>About my team</h1><br>
<p>This is an individual project.</p>
<br>

<p>This is a web app using Express/Mongoose/EJS and the OpenAI API 
    which uses prompt engineering to paraphrase completed all by Chris</p>

<p> Chris Liang 2024, Major: CS</p>